/** TODO **/
#review-results-wrapper, #content, #train {
  height: 100%;
  overflow: scroll;
}
#display, #content, #review, #game {
  width: 375px;
  height: 620px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#display { border: 1px solid red; }


@media(min-width: 393px) {
  #display, #content, #review, #game {
    width: 393px;
    height: 714px;
  }
}

/* Tablet */
@media(min-width: 768px) {
  body {
    margin-top: 20px;
  }
}

/* Installed (no URL bar) */
@media all and (display-mode: standalone) {
  body {
    margin-top: 20px;
  }
  /* TODO */
  /* #settings {
    position: relative;
    top: -10px;
  }
  #content {
    margin: 10px 0px;
  }
  #review .wrapper, #content, #train {
    position: relative;
    top: -20px;
  } */
}
#back img {
  height: 16px;
}
@media(min-height: 550px) {
  height: 20px;
}
